*{
    margin: 0;
    padding: 0;
    
}
#container{
    text-align: center;


}
#text{
    padding: 5px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    width: 90%;
    height: 30px;
    outline: none;
    border: none;
    background: wheat;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;

}
input:focus{
    background: rgb(246, 246, 163);
    transform: scale(1.1);
}

#price input{
    width: 20%;
}
#total{
    background: #b90e027a;
    padding: 4px 2px;
    border-radius: 4px 2px;
}
#total::before{
content: 'total:';
}
button{
    width: 80%;
    height: 30px;
    padding: 5px;
    margin: 4px 0;
    background: rgba(0, 0, 255, 0.481);
    border: none;
    border-radius: 10px;
    transition: 0.5s;

}
button:hover{
    background: rgb(172, 105, 234);
    cursor: pointer;
    letter-spacing: 1px;
}

#btnsearch{
    display: flex;
    justify-content: space-between;
}
#btnsearch button{
    width: 30%;
}

table{
    width: 90%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
    font-family: system-ui;
}
th,td{
    padding: 5px;
}
#deleteall{
    margin: 10px 0;
    
}